@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", serif;

}

/* About Us Section */
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    background-color: #344742;
}

.about-us-content {
    max-width: 800px;
    padding: 20px;
    background: white;
    border: 1px solid #004e46;;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #cfb02c;
}

.about-us-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #cfb02c;
}
/* Cards Section */
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #F9F9F9;
}

.card-video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    margin: 15px 0;
    font-size: 1.1em;
    color: #2D2D2D;
    text-align: center;
}
/* footer*/
footer{
    width:100%;
    background: linear-gradient(to right,#03c994,#344742 );
    color:#fff;
    padding:100px 0 30px;
    border-top-left-radius:125px;
    font-size:18px;
    line-height:20px;
}
.row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between;
}
.col{
    flex-basis:25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis:15%;
}
.logo{
    width:100px;
    margin-bottom:30px;
}
.col h3{
    width:fit-content;
    margin-bottom:40px;
    position:relative;
}
.email-id{
    width:fit-content;
    border-bottom:1px solid #ccc;
    margin:20px 0;
}
ul li{
    list-style:none;
    margin-bottom:12px;

}
ul li a{
    text-decoration:none;
    color:white;
}  
.underline{
    width:100%;
    height:5px;
    background:#767676;
    border-radius:3px;
    position:absolute;
    top:25px;
    left:0;
    overflow:hidden;
}
.underline span{
    width:15px;
    height:100%;
    background:#fff;
    border-radius:3px;
    position:absolute;
    top:0;
    left:10px;
    animation:moving 2s linear infinite;
    
}
@keyframes moving{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
@media(max-width:700px){
    footer{
        bottom:unset;
    }
    .col{
        flex-basis:100%;
        
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis:100%;
    }

}